
/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
body
{
}

#page,
#closure-blocks
{
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#page-inner
{
}

#navigation-top,
#navigation
{
  position: absolute; /* Take the named anchors out of the doc flow    */
  left: -10000px;     /* and prevent any anchor styles from appearing. */
}

#skip-to-nav
{
  float: right; /* LTR */
  margin: 0 !important;
  font-size: 0.8em;
}

#skip-to-nav a:link, #skip-to-nav a:visited
{
  color: #fff; /* Same as background color of page */
}

#skip-to-nav a:hover
{
  color: #000;
  text-decoration: none;
}

/* Alternatively, the skip-to-nav link can be completely hidden until a user tabs
   to the link. Un-comment the following CSS to use this technique. */
/*
#skip-to-nav a, #skip-to-nav a:hover, #skip-to-nav a:visited
{
  position: absolute;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip-to-nav a:active, #skip-to-nav a:focus
{
  position: static;
  width: auto;
  height: auto;
}
*/

/*
 * Header
 */
#header
{
}

#header-inner
{
}

#logo-title
{
}

#logo
{
  float: left; /* LTR */
}

#site-name
{
}

#site-slogan
{
}

#search-box
{
}

#header-blocks
{
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
#main
{
  position: relative;
}

#main-inner
{
}

/*
 * Content
 */
#content,
.no-sidebars #content
{
  float: left; /* LTR */
  width: 960px;
  margin-left: 0; /* LTR */
  margin-right: -960px; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
}

.sidebar-first #content
{
  width: 760px;
  margin-left: 200px; /* LTR */ /* The width of #sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.sidebar-second #content
{
  width: 760px;
  margin-left: 0; /* LTR */
  margin-right: -760px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.two-sidebars #content
{
  width: 560px;
  margin-left: 200px; /* LTR */ /* The width of #sidebar-first */
  margin-right: -760px; /* LTR */ /* Negative value of #content's width + left margin. */
}

#content-inner
{
  margin: 0;
  padding: 0;
}

/*
 * Navbar
 */
#navbar
{
  float: left; /* LTR */
  width: 100%;
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #navbar's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navbar-inner. */
  height: 3.6em; /* The navbar can have any arbritrary height. We picked one
                    that is twice the line-height pluse 1em: 2 x 1.3 + 1 = 3.6
                    Set this to the same value as the margin-top below. */
}

.with-navbar #content,
.with-navbar #sidebar-first,
.with-navbar #sidebar-second
{
  margin-top: 3.6em; /* Set this to the same value as the navbar height above. */
}

#navbar-inner
{
}

#primary
{
}

#secondary
{
}

#navbar ul /* Primary and secondary links */
{
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navbar li /* A simple method to get navbar links to appear in one line. */
{
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

/*
 * First sidebar
 */
#sidebar-first
{
  float: left; /* LTR */
  width: 200px;
  margin-left: 0; /* LTR */
  margin-right: -200px; /* LTR */ /* Negative value of #sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-first-inner. */
}

#sidebar-first-inner
{
  margin: 0 20px 0 0; /* LTR */
  padding: 0;
}

/*
 * Second sidebar
 */
#sidebar-second
{
  float: left; /* LTR */
  width: 200px;
  margin-left: 760px; /* LTR */ /* Width of content + sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of #sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-second-inner. */
}

#sidebar-second-inner
{
  margin: 0 0 0 20px; /* LTR */
  padding: 0;
}

/*
 * Footer
 */
#footer
{
}

#footer-inner
{
}

/*
 * Closure
 */
#closure-blocks /* See also the #page declaration above that this div shares. */
{
}

/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
.clearfix:after
{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navbar,
#sidebar-first,
#sidebar-second,
#footer,
#closure-blocks
{
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

#navbar
{
  overflow: hidden; /* May need to be removed if using a dynamic drop-down menu */
}

/*
 * If a div.clear-block doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page div.
 */
/*
#page
{
  overflow-y: hidden;
}
*/
